body {
  margin: 0;
  background-color: #d0e0e3;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-style: normal;
  font-size: 15px;
}

h1 {
  font-size: 45px;
  text-align: left;
}

h2,
h3 {
  text-transform: uppercase;
}

h4 {
  margin: 0;
}

header {
  margin: 0 50px 0 50px;
  overflow: auto;
  padding: 0 15px;
}

section {
  margin: 0 50px 50px 50px;
  overflow: auto;
  padding: 0 15px;
}

footer {
  text-align: center;
  background-color: #162756;
  color: white;
  margin: 0;
  padding: 15px;
}

/*Main content div - Work experience and Education*/
.Main-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.Container {
  display: grid;
  grid-template-columns: minmax(150px, 180px) auto;
  border-left: #162756;
  border-style: solid;
  border-width: 0 0 0 5px;
}

.Container div {
  padding-left: 10px;
  text-align: left;
}

.Work-experience h2,
.Education h2 {
  color: white;
  background-color: #162756;
  text-align: left;
  border-radius: 0 10px 10px 0;
  padding: 5px 5px 5px 10px;
}

/*My photo*/
.Me {
  width: 200px;
  border-radius: 10%;
  margin: auto;
  display: block;
  margin-top: 30px;
}

/*Skills div*/
.Skills {
float: left;
  height: 100%;
  width: 300px;
  overflow: auto;
  background-color: #162756;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 15px 40px 15px;
}

.Skills section {
  margin: 0;
}

.Skills h2 {
  color: #162756;
  background-color: #d0e0e3;
  text-align: left;
  border-radius: 0 10px 10px 0;
  padding: 0 0 0 10px;
  
}
