body {
  margin: 0;
  background-color: #d0e0e3;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-style: normal;
  font-size: 15px;
}

h1 {
  font-size: 45px;
  text-align: left;
}

h2,
h3 {
  text-transform: uppercase;
}

h4 {
  margin: 0;
}

section {
  margin: 0 50px 50px 50px;
  overflow: auto;
  padding: 0 15px;
}

header {
  margin: 0;
  overflow: auto;
  padding: 0 15px;
}

footer {
  text-align: center;
  background-color: #162756;
  color: white;
  margin: 0;
  padding: 15px;
}

/*Work experience*/
.Main-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.Container {
  display: grid;
  grid-template-columns: minmax(150px, 180px) auto;
  border-left: #162756;
  border-style: solid;
  border-width: 0 0 0 5px;
}

.Container div {
  padding-left: 10px;
  text-align: left;
}

/*My photo*/
.Me {
  width: 200px;
  border-radius: 10%;
  margin: 30px 30px 30px 45px;
}

/*Personal information*/
p.Personal-info-table {
  text-align: left;
  margin: 30px 30px;
}

/*Blue menu*/
.Blue-menu {
  float: left;
  height: 100%;
  width: 300px;
  overflow: auto;
  background-color: #162756;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.Blue-menu section {
  margin: 0 15px 0 15px;
}

.Blue-menu .Personal-skills,
.Blue-menu .Certifications-and-trainings {
  padding: 0;
  margin-top: 0;

}

